<%- include ../partials/navbar %>
<%- include ../partials/notifications %>

<div class="profile">
  <div class="card" style="width: 20rem;">
    <h5 class="card-title"><%= session.username %>'s Settings</h5>
    <img src="<%= session.imgPath %>" class="card-img-top" alt="...">
      <form id="image-upload" action="/profile/add-profile-photo" method="post" enctype="multipart/form-data">
        <input type="file" name="photo">
        <input type="submit" value="SAVE">
      </form>
      <p class="card-text"><%= session.email %></p>
      <div class="list-group-item">
        <h5>Add friends</h5>
        <form id="friend-search" action="/profile/search" class="form-inline my-2 my-lg-0" method="post">
          <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search by username" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search friend</button>
        </form>
      </div>
    <h5 class="card-title">Friends</h3>
    <ul class="list-group">
      <% friendsNames.forEach((friend) => { %>
      <li class="list-group-item">
        <div class="friends-list">
          <p><%= friend.username %> </p> 
          <form action="/profile/<%= friend._id %>/delete" method="post">
            <button class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i></button>
          </form>
        </div>
      </li>
      <% }) %>
    </ul>
  </div>
  </div>
  
<a href="/" class="go-back centered"><i class="fas fa-angle-double-left"></i></a>

<script src="/javascript/deleteWindow.js"></script>

