<%- include ../partials/navbar %>
<%- include ../partials/notifications %>

<div class="container">
  <form class="flex-column centered" action="/profile" method="post">
    <img class="profile-image" src="<%= user[0].imgPath %>" alt="profile picture">
    <div class="details-container">
      <p class="username"><%= user[0].username %></p>
      <p class="email"><%= user[0].email %></p>
    </div>
    <input type="hidden" name="id" value="<%= user[0]._id %>">
    <button class="add-friend" type="submit">Add friend</button>
  </form>

  
</div>

<footer style="position: fixed; width: 100%; bottom: 0;background:#01233f">
  <a href="/profile" class="go-back centered"><i style="color:white" class="fas fa-angle-double-left"></i></a>
</footer>