<%- include ../partials/navbar %>
<%- include ../partials/notifications %>

<div class="container">

  <h3 class="title bill-title"><%= bill.name %></h1>

  <% bill.participants.forEach((participant) => { %>
    <div class="container">
      <div id="<%= participant %>" class="participant-container">
        <h4 class="subtitle"><%= participant %></h4>
        <ul class="list-group list-group-flush">  
          <% bill.items.forEach((item) => { %>
          <% if (item.username === participant) { %>
            <li class="list-group-item small-margin">
              <div class="flex-between">
                <span><%= item.name %></span>
                <span class="item-price" value="<%= item.username %>"><%= item.price %> €</span>
              </div>
            </li>
          <% } %>
          <% })%>
        </ul>
      </div>
    </div>
    <% }); %>

  <div class="flex-column">
    <p class="totals">Total bill <span id="bill-total"></span> €</p>
    <p class="totals"><span id="user-name"><%= userName %></span>, your part is <span id="user-total"></span> €</p>
  </div>

  <input id="lat" type="hidden" name="lat" value="<%= lat %>">
  <input id="long" type="hidden" name="long" value="<%= long %>">

  <div id="map"></div>

  <form action="/bills/<%=bill._id %>/settle" method="post">
    <button type="submit" class="btn btn-success settle">Settle bill</button>
  </form>
  </div>

<a href="/bills/list" class="centered go-back"><i class="fas fa-angle-double-left"></i></a>

<script src="/javascript/calculator.js"></script>
<script src="/javascript/mapBox.js"></script>
