<h1>Set Bill</h1>
<form action="" method="post">

<div>
  <% items.forEach((item) => { %>
  <div class="item-row">
    <p><%= item.name %></p>
    <p><%= item.price %></p>
    <% participants.forEach((participant) => { %>
      <label for="<%= participant %>"><%= participant %></label>
      <input type="radio" name="<%= participant %>">
    <% }) %>
  </div>
  <%})%>
</div>  

</form>